* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    @media screen and (max-width:1100px) {
        font-size: 18px;
    }
}

h1 {
    font-size: 90px;
    @media screen and (max-width: 1600px) {
        font-size: 75px;
    }
    @media screen and (max-width: 600px) {
        font-size: 56px;
    }
}

button {
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(263.24deg, #9130F4 21.05%, #4646F9 77.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.heading-text {
    font-size: 80px;
    display: inline-flex;
    @media screen and (max-width: 1600px) {
        font-size: 60px;
    }
    @media screen and (max-width: 600px) {
        font-size: 50px;
    }
}

h1, .heading-text {
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -4px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.white-text {
    color: #FFFFFF;
}

.blue-text {
    color: #121139;
}

.blue-bg {
    background: 
        url(images/bg-bottom.svg) 0 100% no-repeat,
        url(images/bg-top.svg) 100% 0 no-repeat;
        background-color:  #121139;
}

.nav {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 40px;
    height: 40px;
    fill: #F8F8F8;
}

.nav__button {
    width: 44px;
    height: 17px;
    background-color: transparent;
    border: none;
}

.thumbnail-box {
    padding: 205px 0 167px 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 970px) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 167px 0;
    }
}

.thumbnail-box__text {
    max-width: 695px;
}

.thumbnail-box__text > p {
    font-weight: 500;
    line-height: 1;
    padding: 26px 0 38px 0;
}

.thumbnail-box__image {
    position: relative;
    padding-right: 90px;
    @media screen and (max-width: 600px) {
        padding: 0;
    }
}

.thumbnail-box__card {
    border-radius: 30px;
    background: linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 45px #3A49F9;
}

.thumbnail-box__card--big {
    width: 610px;
    height: 350px;
    @media screen and (max-width: 1600px) {
        width: 450px;
        height: 260px;
    }
    @media screen and (max-width: 600px) {
        width: 250px;
        height: 144px;
    }
}

.thumbnail-box__card--small {
    width: 223px;
    height: 290px;
    position: absolute;
    bottom: 0;
    right: 0;
    @media screen and (min-width:1600px) {
        top: 45%;
    }
    @media screen and (max-width: 1600px) {
        width: 190px;
        height: 250px;
        top: 55%;
        right: 0%;
    }
    @media screen and (max-width: 600px) {
        width: 90px;
        height: 118px;
        right: -6%;
        border-radius: 15px;
    }
}

.bottom-left-stain, .top-right-stain {
    background-color: rgba(0, 0, 0, 0.1);
}

.bottom-left-stain {
    border-top-right-radius: 100%;
}

.top-right-stain {
    border-bottom-left-radius: 100%;
}


.bottom-left-stain--big {
    width: 350px;
    height: 160px;
    margin-top: 35%;
}

.bottom-left-stain--small {
    width: 200px;
    height: 160px;
    margin-top: 60%;
    margin-right: -30%;
}

.top-right-stain--small {
    width: 200px;
    height: 160px;
    margin-left: 30%;
    @media screen and (max-width: 600px) {
        width: 150px;
        height: 70px;
    }
}

.top-right-stain--big {
    width: 350px;
    height: 160px;
    @media screen and (max-width: 600px) {
        width: 300px;
        height: 80px;
    }
}


.gradient__button {
    text-transform: uppercase;
    font:inherit;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
    padding: 28px 67px;
    border: 5px solid;
    border-image: linear-gradient(263.24deg, #9130F4 21.05%, #4646F9 77.63%);
    border-image-slice: 1;
}

.gradient__button:hover {
    transition: all 0.1s ease-in;
    border-image: linear-gradient(263.24deg, #4646F9 21.05%, #9130F4 77.63%);
    box-shadow: 0 0 45px #4646F9;
    border-image-slice: 1;
    animation: gradient 0.01s ease-in 0.1s;
}

@keyframes gradient {
    0% {
        border-image: linear-gradient(263.24deg, #4646F9 21.05%, #9130F4 77.63%);
        border-image-slice: 1;
    }
    30% {
        border-image: linear-gradient(263.24deg, #4646F9 50.05%, #9130F4 47.63%);
        border-image-slice: 1;
    }
    50% {
        border-image: linear-gradient(263.24deg, #4646F9 70.05%, #9130F4 27.63%);
        border-image-slice: 1;
    }
    75% {
        border-image: linear-gradient(263.24deg, #4646F9 90.05%, #9130F4 17.63%);
        border-image-slice: 1;
    }
    100% {
        border-image: linear-gradient(263.24deg, #4646F9 21.05%, #9130F4 77.63%);
        border-image-slice: 1;
    }
}

.thumbnail-box__card__text--big {
    position: absolute;
    padding: 4% 5%;
    width: 85%;
    @media screen and (max-width:600px) {
        padding: 4% 8%;
        width: 100%;
    }
}

.balance-and-logo-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    @media screen and (max-width:600px) {
        font-size: 10px;
    }
}

.card-logo {
    width: 88px;
    height: 69px;
    @media screen and (max-width:600px) {
        width: 58px;
        height: 39px;
    }
}

.balance {
    display: flex;
    flex-direction: column;

}

.balance__name {
    opacity: 0.54;
    font-weight: 300;
}

.balance__amount {
    font-size: 28px;
    font-weight: 500;
    @media screen and (max-width:600px) {
        font-size: 14px;
    }
}

.card-number {
    font-size: 14px;
    position: absolute;
    top: 200%;
    @media screen and (min-width:1600px) {
        top: 250%;
    }
    @media screen and (max-width:600px) {
        font-size: 10px;
    }
}

.thumbnail-box__card__text--small {
    position: absolute;
    padding: 29px 25px;
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 600px) {
        padding: 10px;
        font-size: 9px;
    }
}

.card-logo--opacity {
    width: 67px;
    height: 41px;
    @media screen and (max-width: 600px) {
        width: 37px;
        height: 18px;
    }
}

.dots-wrap {
    display: inline-flex;
    gap: 9px;
    @media screen and (max-width: 600px) {
        gap: 1px;
    }
}

.dot {
    width: 6px;
    height: 6px;

}

.sim-card {
    width: 49px;
    height: 33px;
    background: radial-gradient(63.57% 63.57% at 57.43% 36.43%, #FFFFFF 0%, #DDDCDA 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 5px;
    @media screen and (max-width: 600px) {
        width: 30px;
        height: 20px;
    }
}

.sim-card-name {
    opacity: 0.54;
    font-weight: 300;
    padding-top: 52px;
    padding-bottom: 10px;
    @media screen and (max-width: 600px) {
        padding-top: 15px;
    }
}

.dots-section {
    display: flex;
    align-items: center;
    gap: 21px;
    @media screen and (max-width: 600px) {
        justify-content: space-between;
    }
}

.sim-card-wrap {
    padding-top: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
        padding-top: 5px;
    }
}

.logo-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 132px;
    flex-wrap: wrap;
    gap: 20px;
}

.burger {
    cursor: pointer;
    width: 44px;
    height: 17px;
}

.burger span{
    display: block;
    width: 44px;
    height: 3px;
    margin-bottom: 4px;
    background-color: #fff;
    position: relative;
    top: 0;
    transition: all .3s ease-in-out;
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -1px;
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: -15px;
}

.section-one {
    padding: 80px 0 172px;
    text-align: center;
}

.h2__heading {
    max-width: 50%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 50px;
    @media screen and (max-width:768px) {
        max-width: 100%;
    }
}

.section-one__text {
    padding: 40px 0 65px;
    width: 36%;
    margin: 0 auto;
    font-weight: 500;
    @media screen and (max-width:768px) {
        width: 100%;
    }
}

.section-one__image {
    border-radius: 30px;
    box-shadow: 15px 15px 50px #9130F4;
}

.section-one__image--desktop {
    width: 960px;
    height: 550px;
    @media screen and (max-width:1100px) {
        display: none;
    }
}

.section-one__image--tablet {
    @media screen and (min-width:1100px) {
        display: none;
    }
    @media screen and (max-width:768px) {
        display: none;
    }
    width: 692px;
    height: 541px;
}

.section-one__image--mob {
    @media screen and (min-width:768px) {
        display: none;
    }
    width: 300px;
    height: 558px;
}

.section-two {
    text-align: center;
    padding: 125px 0 195px;
}

.section-two__inner-wrap {
    display: flex;
    padding-top: 153px;
    text-align: start;
    justify-content: space-between;
    @media screen and (max-width:1100px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.section-two__image {
    border-radius: 20px;
    box-shadow: 0 0 45px #9130F4;
    @media screen and (max-width:375px) {
        width: 280px;
        height: auto;
    }
}

.section-two__text {
    max-width: 100%;
}

.section-two__text__subheading {
    font-size: 30px;
    font-weight: 600;
    @media screen and (max-width:1100px) {
        padding-top: 40px;
    }
}

.section-two__text__subheading, .section-two__text__main-text, .section-two__process-scheme {
    margin-left: 153px;
}

@media screen and (max-width:1100px) {
    .section-two__text__subheading, .section-two__text__main-text, .section-two__process-scheme {
        text-align: center;
        margin: 0 auto;
    }
}

.section-two__text__main-text {
    font-weight: 500;
    max-width: 65%;
    padding: 22px 0 108px;
    @media screen and (max-width:1100px) {
        max-width: 100%;
        padding: 22px 0 42px;
    }
}

.section-two__process-scheme {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width:1100px) {
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .section-two__process-scheme {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
}

.section-two__process-scheme__element {
    position: relative;
    width: 202px;
    height: 172px;
    background: 
    linear-gradient(#1C1A50,#1C1A50) padding-box,
    linear-gradient(to right, #9130F4, #4646F9) border-box;
   border: 2px solid transparent;
   border-radius:30px;
   padding: 30px 19px;
   text-align: center;
}

@media screen and (min-width: 401px) and (max-width:1435px) {
    .section-two__process-scheme__element {
        width: 120px;
        height: 103px;
    }
}

.section-two__process-scheme__element__number {
    position: absolute;
    width: 53px;
    top: 75%;
    left: 40%;
    font-size: 90px;
    font-weight: 500;
}

.section-two__process-scheme__element__icon {
    width: 70px;
    height: 70px;
}

@media screen and (min-width:401px) and (max-width:1435px) {
    .section-two__process-scheme__element__number {
        top: -80%;
        left: 30%;
    }
}

.section-two__process-scheme__element__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.section-three {
    text-align: center;
    padding: 136px 0 272px;
    background: url(images/bg-bottom-right.svg) 100% 0% no-repeat;
}

.section-three > p {
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 130px;
}

.section-three__text-wrap {
    text-align: left;
    color: #FFFFFF;
    max-width: 55%;
    background-color: #15123E;
    padding: 280px 74px 262px;
    border-radius: 30px;
    position: relative;
}

@media screen and (max-width:1280px) {
    .section-three__text-wrap {
        max-width: 100%;
    }

    .section-three__text-wrap {
        padding: 50px 10px 50px;
    }
}


@media screen and (max-width:438px) {
    .gradient__button--section-three {
        padding: 5% 10%;
    }
}

h3 {
    font-weight: 600;
    font-size: 30px;
}

.section-three__text-wrap > p {
    font-weight: 500;
    padding: 60px 0;
    max-width: 480px;
}

@media screen and (max-width:1280px) {
    .big-logo, .iphone, .section-three__iphone-wrap__list, .section-three__iphone-wrap__list > li {
        display: none;
    }

    .section-three__iphone-wrap__list {
        z-index: inherit;
    }
}

.section-three__iphone-wrap {
    width: 117%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 92px;
    left: 65%;
}

.section-three__iphone-wrap__list > li {
    background: 
        linear-gradient(#1C1A50,#1C1A50) padding-box,
        linear-gradient(to right, #9130F4, #4646F9) border-box;
    border: 2px solid transparent;
    border-radius:30px;
    padding: 43px 67px;
    font-size: 20px;
}

.section-three__iphone-wrap__list {
    display: flex;
    flex-direction: column;
    gap: 54px;
    margin-left: -5%;
    z-index: -1;
}

.section-four {
    text-align: center;
    padding: 100px 0 140px;
}

.section-four .container > p {
    max-width: 912px;
    margin: 0 auto;
    padding: 65px 0 72px;
}

.grid-top-right, .grid-center, .grid-bottom-right {
    background: 
    linear-gradient(#1C1A50,#1C1A50) padding-box,
    linear-gradient(to right, #9130F4, #4646F9) border-box;
    border: 2px solid transparent;
    border-radius:30px;
    padding: 43px 67px;
    font-size: 20px;
}

.section-four__grid-container {
    display: grid;
    column-gap: 306px;
    row-gap: 70px;
    background-image: url(images/imac.png);
    background-repeat: no-repeat;
    background-position: center;
}

.grid-top-right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid-center {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid-bottom-right {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

@media screen and (max-width:880px) {
    .section-four__grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image: none;
    }
}

.footer {
    background-color: #121139;
    padding: 131px 0;
}

.logo--footer {
    fill: #3A49F9;
}

.footer__logo-text {
    color: #3A49F9;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.footer__inner-wrap {
    display: flex;
    justify-content: space-between;
    padding: 31px 0 86px;
    flex-wrap: wrap;
}

@media screen and (max-width:376px) {
    .footer__inner-wrap {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .logo-wrap--footer {
        justify-content: center;
    }

    .footer__list:last-child > li {
        text-align: center;
    }
}

.footer__list>li:first-child {
    color: #92989F;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}

.footer__list > li {
    color: #FFF;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.3px;
}

.footer__list:last-child > li {
    max-width: 400px;
    line-height: 24px;
}

.hr {
    border-color: #71777D;
    margin-bottom: 31px;
}

.copyright {
    color: #92989F;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}